.division-primary {
    background-color: #106ea5;
    height: 50px;
    /* margin-left: 1%; */
    margin: 1%;
}

.texto-primary {
    margin: 1%;
}

.nav-item {
    color: cornsilk;
}

iframe {
    margin-left: 1%;
}