.division-primary {
    background-color: #106ea5;
    height: 50px;
    /* margin-left: 1%; */
    margin: 1%;
}

.texto-primary {
    margin: 1%;
}

.nav-item {
    color: cornsilk;
}

iframe {
    margin-left: 1%;
}

.division-s-primary {
    color: #1b9bca;
    text-align: center;
}


/* .division-footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
} */